.form button{
  background: #f7549d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
}
.form button img{
  width: 15px;
}
.h1{
  text-align: center;
}
.title_p2 {
  text-align: right;
  color:brown; 
}
.content_p2 {
  padding-top: 30px;
  color: #f7549d;
  text-align: right;
}
.title_p3 {
  text-align: center;
  color:#195751; 
}
.content_p3 {
  padding-top: 30px;
  color: #8cd9d1;
  text-align: center;
}
.fill { 
  min-height: 100vh;
  height: 100vh;
}
.card btn{
  background-color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-in-card{
  font-size: 2em;
  color: white;
  font-weight: bold;
}
.below-header {
  height: 20vh;
}
.transbox {
  opacity: 1;
}
.footer-hyp {
  text-decoration: none;
  color: black;
}
.card .card-body .card-title .material-icons{
  font-size:12px;
}
.card .card-body .card-title .rating{
  float: right;
  font-size: 12px;
  color: #f7549d;
}
.location{
  text-decoration: none;
  color: #8cd9d1;
}
.location:hover{
  color: #f7549d;
}
.price{
  color:gray;
  font-weight: bold;
}
.signup_form .button_color {
  background-color: #8cd9d1;
  border: none;
  color: #f7549d;
}
.signup_form .form_text {
  color: #195751; 
}
.signup_form_border {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 992px) {
  .item-md-invisible {
    display: none;
  }

  .below-header {
      height: 15vh;
  }

  .title {
      text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .item-sm-invisible {
      display: none;
  }

  .below-header {
      height: 15vh;
  }
}